.container-guests {
    padding-top: 40px;
    max-height: 100vh;

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: rgba($color_darkGrey, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition: all .1s linear;

        &-container {
            background-color: white;
            padding: 15px 25px;
            min-width: 300px;
            max-width: 90%;
        }

        &.show {
            transform: scale(1);
        }

        h5 {
            margin: 0 0 10px;
            font-weight: 700;
        }

        .cancel {
            max-width: 150px;
            margin: 30px auto 0;
            text-align: center;
            cursor: pointer;
        }

        ul {
            li {
                border-top: 1px solid rgba($color_darkGrey, .1);
            }

            button {
                border: none;
                background-color: transparent;
                padding: 12px 10px 12px 0;
                width: 100%;
                text-align: left;
            }
        }

        .more {
            display: flex;
            justify-content: space-around;
            margin: 20px 0 0;

            > div {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                background-image: linear-gradient(-25deg, rgba(black, .02), rgba(black, .1));
                border-radius: 5px;
                border: 1px solid rgba($color_darkGrey, .2);
                padding: 7px 15px;
                cursor: pointer;
            }

            .delete {
                color: $color_danger;
                border-color: rgba($color_danger, .5);
            }
        }
    }

    .actions {
        background-color: white;
        margin: 0 -20px 15px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;

        input {
            border: none;
            font-size: 12px;
            line-height: 20px;
            padding: 10px 0;
            outline: none;
            flex-grow: 1;
            margin-right: 30px;
        }

        button {
            background-color: transparent;
            border: none;
            padding: 0;
            color: $color_primary;
            font-weight: 700;
            font-size: 12px;
        }
    }

    .guest-list {
        height: calc(100vh - 135px);
        overflow-y: auto;
    }

    .single-guest {
        background-color: white;
        padding: 10px 15px 10px 10px;
        margin: 0 0 15px;
        box-shadow: 0 0 5px rgba($color_darkGrey, .05);
        position: relative;
        display: flex;
        align-items: center;

        &:after {
            content: attr(data-rsvp);
            position: absolute;
            width: 15px;
            border-left: 1px solid rgba($color_darkGrey, .05);
            right: 1px;
            top: 1px;
            bottom: 1px;
            background-color: rgba($color_darkGrey, .15);
            writing-mode: vertical-rl;
            text-align: center;
            font-size: 10px;
            line-height: 15px;
        }

        &.SENT {
            &:after {
                background-color: $color_warning;
            }
        }

        &.ACCEPTED {
            &:after {
                background-color: $color_valid;
                color: white;
            }
        }

        &.DECLINED {
            &:after {
                background-color: $color_danger;
                color: white;
            }
        }

        &.CANCELED {
            opacity: .5;

            &:after {
                background-color: purple;
                color: white;
            }
        }

        &.ARRIVED {
            &:after {
                background-color: $color_primary;
                color: white;
            }
        }

        .menu-trigger {
            margin-right: 15px;
            background-color: transparent;
            border: none;

            span {
                display: block;
                width: 7px;
                height: 7px;
                background-color: $color_primary;
                border-radius: 50%;

                &:nth-child(2) {
                    margin: 3px 0;
                }
            }
        }

        h5 {
            font-weight: 700;
            font-size: 14px;
            margin: 0 0 2px;

            span {
                font-weight: 300;
            }
        }

        .phone {
            font-size: 12px;
            line-height: 1;
            color: $color_brown;
            font-weight: 700;
        }

        .comment {
            font-size: 12px;
            margin: 5px 0 0;
        }

        .money {
            flex-grow: 1;
            text-align: right;
            padding: 0 20px 0;
            font-weight: 700;

            svg {
                display: inline-block;
                margin: 3px 5px 0;
                font-size: 12px;
                vertical-align: top;
                color: $color_primary;
            }

            span {
                display: inline-block;
                vertical-align: top;
            }

            &-form {
                input {
                    padding: 0;
                    border: 2px solid transparent;
                    background-color: transparent;
                    font-size: 16px;
                    font-weight: 800;
                    max-width: 100px;
                    text-align: right;
                    outline: none;
                    transition: all .3s ease-in-out;

                    &:focus {
                        border-bottom-color: $color_primary;
                    }

                    &.done {
                        color: $color_primary;
                    }
                }
            }
        }
    }

    .filter-guests {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        background-color: white;
        box-shadow: 0 0 5px rgba($color_darkGrey, .15);

        ul {
            display: flex;
            justify-content: space-around;

            li {
                flex-grow: 1;
                text-align: center;
                padding: 15px 0;
                font-size: 20px;
                cursor: pointer;
                transition: all .15s linear;

                &.active {
                    background-color: $color-primary;
                    color: white;
                }
            }
        }
    }
}

.add-guest {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color_darkGrey, .2);
    padding: 0 35px;
    opacity: 0;
    z-index: -9;
    transition: all .3s;

    &.show {
        opacity: 1;
        z-index: 4;

        .add-guest-form {
            left: 0;
        }
    }

    &-form {
        background-color: $color_lightGrey;
        box-shadow: 0 0 5px rgba($color_darkGrey, .2);
        padding: 50px 20px;
        width: 100%;
        position: relative;
        transition: all .5s;
        left: -150%;

        label {
            display: block;
            margin: 0 0 5px;
            font-size: 12px;
            font-weight: 700;
        }

        .fc-guest {
            font-size: 12px;
            line-height: 20px;
            min-height: 30px;
            display: block;
            width: 100%;
            padding: 5px 15px;
            margin: 0 0 15px;
            border: 1px solid rgba($color_darkGrey, .2);
            outline: none;
            transition: all .3s;

            &:focus {
                border-color: rgba($color_darkGrey, .5);
            }
        }

        button {
            background-color: $color_primary;
            border: none;
            color: white;
            display: block;
            width: 100%;
            padding: 10px 15px;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 2px;
        }

        .cancel {
            max-width: 150px;
            margin: 35px auto 0;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
        }
    }
}